#
#Fri Jun 07 13:24:40 UTC 2019
jetty_version=9.4.12.v20180830
passport_rp_client_jks_pass=secret
install_dir=/install/community-edition-setup
ldapDsJavaPropCommand=/opt/opendj/bin/dsjavaproperties
ldif_attributes=/install/community-edition-setup/output/attributes.ldif
ldap_user_home=/home/ldap
accessLogConfFile=/install/community-edition-setup/static/openldap/accesslog.conf
setup_properties_fn=/install/community-edition-setup/setup.properties
apache2_ssl_conf=/install/community-edition-setup/output/https_gluu.conf
httpdCertFn=/etc/certs/httpd.crt
application_max_ram=3072
idp3_dist_jar=http\://ox.gluu.org/maven/org/xdi/oxShibbolethStatic/3.1.6.sp1/oxShibbolethStatic-3.1.6.sp1.jar
oxauth_static_conf_json=/install/community-edition-setup/output/oxauth-static-conf.json
jetty_user_home_lib=/home/jetty/lib
downloadWars=False
oxd_hostname=%(oxd_hostname)s
opendj_cert_fn=/etc/certs/opendj.crt
jreDestinationPath=/opt/jdk1.8.0_181
oxTrustCacheRefreshFolder=/var/ox/identity/cr-snapshots
apache_start_script=/etc/init.d/httpd
idp3_configuration_password_authn=authn/password-authn-config.xml
gluuOptSystemFolder=/opt/gluu/system
ldapCertFn=/etc/certs/opendj.crt
ldif_site=/install/community-edition-setup/static/cache-refresh/o_site.ldif
encoded_ldap_pw={SSHA}/FFP1/BIv4KAOFmd0AmuvaNyilNiwE9f
node_home=/opt/node
ldapPass={{ ldap_pass }}
state=qw
passport_config=/etc/gluu/conf/passport-config.json
certFolder=/etc/certs
staticFolder=/install/community-edition-setup/static
defaultTrustStorePW=changeit
idp3_metadata=idp-metadata.xml
passport_rs_client_jks_pass_encoded=mUgH7TWvNOzgwTFYD0w4qQ\=\=
oxtrust_cache_refresh_json=/install/community-edition-setup/output/oxtrust-cache-refresh.json
passportSpJksPass=NI7QaUqiYEUY
pairwiseCalculationSalt=es2HbzxbdQnxY8px8MPYW9g
scim_rp_client_jks_fn=/install/community-edition-setup/output/scim-rp.jks
passport_rp_client_jks_fn=/etc/certs/passport-rp.jks
jre_version=181
opendj_type=opendj
ldap_admin_port=4444
openldapSchemaFolder=/opt/gluu/schema/openldap
importLdifCommand=/opt/opendj/bin/import-ldif
openldapSiteUser=cn\=directory manager,o\=site
ldap_backend_type=je
installAsimba=False
ldif_asimba=/install/community-edition-setup/output/asimba.ldif
openldapSymasConf=/install/community-edition-setup/output/symas-openldap.conf
openldapConfFolder=/opt/symas/etc/openldap
ldif_base=/install/community-edition-setup/output/base.ldif
openldapLogrotate=/install/community-edition-setup/static/openldap/openldap_logrotate
idp3_configuration_saml_nameid=saml-nameid.properties
apache2_24_conf=/install/community-edition-setup/output/httpd_2.4.conf
ldif_passport=/install/community-edition-setup/output/passport.ldif
asimba_configuration=/install/community-edition-setup/output/asimba.xml
ldif_people=/install/community-edition-setup/output/people.ldif
installLdap=True
jetty_user_home=/home/jetty
oxauth_client_id=@!A90B.17D9.F64B.1CA2!0001!4972.0545!0008!ACAA.9022
oxTrust_log_rotation_configuration=/etc/gluu/conf/oxTrustLogRotationConfiguration.xml
scim_rs_client_jks_pass_encoded=ejYKnlgWaXJNh32coo0OFA\=\=
httpdKeyFn=/etc/certs/httpd.key
oxauth_error_json=/install/community-edition-setup/static/oxauth/oxauth-errors.json
asimbaJksFn=/etc/certs/asimbaIDP.jks
gluuOptBinFolder=/opt/gluu/bin
openldapBaseFolder=/opt/symas
oxtrust_import_person_json=/install/community-edition-setup/output/oxtrust-import-person.json
passport_rp_client_cert_alg=RS512
allowPreReleasedApplications=False
jython_home=/opt/jython
loadLdifCommand=/opt/opendj/bin/ldapmodify
cmd_dpkg=/usr/bin/dpkg
openldapLogDir=/var/log/openldap/
system_profile_update_init=/install/community-edition-setup/output/system_profile_init
casa_config=/install/community-edition-setup/output/casa.json
gluu_python_base=/opt/gluu/python
cmd_mkdir=/bin/mkdir
idpClient_pw=Tx20bzwcnomO
distFolder=/opt/dist
idp3ConfFolder=/opt/shibboleth-idp/conf
oxauth_rp_war=https\://ox.gluu.org/maven/org/xdi/oxauth-rp/3.1.6.sp1/oxauth-rp-3.1.6.sp1.war
encoded_openldapJksPass=VZqNHr7fchof4m2QtzFV/Q\=\=
inumApplianceFN=A90B17D9F64B1CA200023B474FAC
apache2_ssl_24_conf=/install/community-edition-setup/output/https_gluu.conf
inumAppliance=@!A90B.17D9.F64B.1CA2!0002!3B47.4FAC
idp3_configuration_properties=idp.properties
network=/etc/sysconfig/network
node_user_home=/home/node
distGluuFolder=/opt/dist/gluu
idp3_configuration_services=services.properties
passport_inbound_idp_initiated_json=/etc/gluu/conf/passport-inbound-idp-initiated.json
oxauthClient_pw=tj0u7ongoQa3
opendlapIndexDef=/install/community-edition-setup/static/openldap/index.json
idp3_configuration_ldap_properties=ldap.properties
ce_setup_zip=https\://github.com/GluuFederation/community-edition-setup/archive/version_3.1.6.sp1.zip
ldapBaseFolder=/opt/opendj
opendj_p12_pass=Tfn25U90JcYP
idp3Folder=/opt/shibboleth-idp
node_base=/opt/gluu/node
passportSpTLSKey=/etc/certs/passport-sp.key
passportSpKeyPass=oYogtVCnOLUv
node_version=9.9.0
currentGluuVersion=3.1.6
ldif_passport_config=/install/community-edition-setup/output/oxpassport-config.ldif
scim_rs_client_jks_pass=oGXrWkJwfoUn
idp3ConfAuthnFolder=/opt/shibboleth-idp/conf/authn
oxauth_openid_jks_fn=/etc/certs/oxauth-keys.jks
outputFolder=/install/community-edition-setup/output
passport_initd_script=/install/community-edition-setup/static/system/initd/passport
os_type=ubuntu
gluuAccessLogConf=/install/community-edition-setup/static/openldap/o_gluu_accesslog.conf
log=/install/community-edition-setup/setup.log
jetty_home=/opt/jetty
ldapTrustStoreFn=/etc/certs/opendj.pkcs12
oxd_port=%(oxd_port)s
githubBranchName=version_3.1.6.sp1
openldapTLSCert=/etc/certs/openldap.crt
templateFolder=/install/community-edition-setup/templates
ldif_scim=/install/community-edition-setup/output/scim.ldif
idp3_war=http\://ox.gluu.org/maven/org/xdi/oxshibbolethIdp/3.1.6.sp1/oxshibbolethIdp-3.1.6.sp1.war
cmd_chgrp=/bin/chgrp
inumOrgFN=A90B17D9F64B1CA2000149720545
oxauth_config_json=/install/community-edition-setup/output/oxauth-config.json
system_profile_update_systemd=/install/community-edition-setup/output/system_profile_systemd
scim_rs_client_id=@!A90B.17D9.F64B.1CA2!0001!4972.0545!0008!5D37.3227
gluu_passport_base=/opt/gluu/node/passport
idp3CredentialsFolder=/opt/shibboleth-idp/credentials
passport_rs_client_jks_pass=fmWDsqS1CF2f
default_key_algs=RS256 RS384 RS512 ES256 ES384 ES512
idpWarFullPath=/opt/dist/gluu/idp.war
opensslCommand=/usr/bin/openssl
ldif_idp=/install/community-edition-setup/output/oxidp.ldif
installOxTrust=True
ldap_port=1389
encoded_shib_jks_pw=QlzYxAQijDeVPxhSqPtX5A\=\=
orgName={{ cert_org_name }}
idp3MetadataCredentialsFolder=/opt/shibboleth-idp/metadata/credentials
apache2_conf=/install/community-edition-setup/output/httpd.conf
oxidp_config_json=/install/community-edition-setup/output/oxidp-config.json
osDefault=/etc/default
shibboleth_version=v3
openldapKeyPass=EVnHl3qVZlkn
openDjIndexJson=/install/community-edition-setup/static/opendj/index.json
node_initd_script=/install/community-edition-setup/static/system/initd/node
ldapDsconfigCommand=/opt/opendj/bin/dsconfig
openDjSchemaFolder=/opt/opendj/config/schema
oxBaseDataFolder=/var/ox
asimba_configuration_xml=/etc/gluu/conf/asimba/asimba.xml
city={{ cert_city }}
oxVersion=3.1.6.sp1
baseInum=@!A90B.17D9.F64B.1CA2
idpClient_encoded_pw=EeuuB1liHTdvw+55oi+AsA\=\=
os_version=16
asimbaJksPass=gHnNztluUxtl
ox_ldap_properties=/etc/gluu/conf/ox-ldap.properties
openldapRootUser=cn\=directory manager,o\=gluu
ldaps_port=1636
jython_version=2.7.2a
logError=/install/community-edition-setup/setup_error.log
ldif_appliance=/install/community-edition-setup/output/appliance.ldif
asimba_selector_configuration_xml=/etc/gluu/conf/asimba/asimba-selector.xml
openldapTLSKey=/etc/certs/openldap.key
staticIDP3FolderMetadata=/install/community-edition-setup/static/idp3/metadata
ldif_metric=/install/community-edition-setup/static/metric/o_metric.ldif
opendj_p12_fn=/etc/certs/opendj.pkcs12
oxTrustConfigGeneration=true
oxPhotosFolder=/var/ox/photos
shibJksFn=/etc/certs/shibIDP.jks
os_initdaemon=systemd
passportSpTLSCACert=/etc/certs/passport-sp.pem
distAppFolder=/opt/dist/app
jetty_dist=/opt/jetty-9.4
passport_rp_client_id=@!A90B.17D9.F64B.1CA2!0001!4972.0545!0008!634F.BEBD
defaultTrustStoreFN=/opt/jre/jre/lib/security/cacerts
ldapModifyCommand=/opt/opendj/bin/ldapmodify
idp3MetadataFolder=/opt/shibboleth-idp/metadata
pairwiseCalculationKey=1WdcXoxTSBchFPfpmH1f8KP
ldif_groups=/install/community-edition-setup/output/groups.ldif
asimba_selector_configuration=/install/community-edition-setup/output/asimba-selector.xml
ldif_clients=/install/community-edition-setup/output/clients.ldif
oxauthClient_encoded_pw=tL8rNNY1nOkQ3d3otLspyg\=\=
scim_rp_client_jks_pass=secret
openldapP12Fn=/etc/certs/openldap.pkcs12
encoded_opendj_p12_pass=FxyzAIPezw2pdJxsd66BOg\=\=
opendj_version=3.0
openldapSyslogConf=/install/community-edition-setup/static/openldap/openldap-syslog.conf
cmd_ln=/bin/ln
passport_rp_client_cert_fn=/etc/certs/passport-rp.pem
httpdKeyPass=bx4C2LmCBBdz
oxtrust_war=https\://ox.gluu.org/maven/org/xdi/oxtrust-server/3.1.6.sp1/oxtrust-server-3.1.6.sp1.war
opendj_version_number=3.0.1.gluu
ldap_site_binddn=cn\=directory manager
installOxAuth=True
cmd_java=/opt/jre/bin/java
ldif_scopes=/install/community-edition-setup/output/scopes.ldif
savedProperties=/install/community-edition-setup/setup.properties.last
passport_saml_config=/etc/gluu/conf/passport-saml-config.json
staticIDP3FolderConf=/install/community-edition-setup/static/idp3/conf
ldif_scripts=/install/community-edition-setup/output/scripts.ldif
admin_email=no
distTmpFolder=/opt/dist/tmp
idp3LogsFolder=/opt/shibboleth-idp/logs
cmd_jar=/opt/jre/bin/jar
oxauth_openid_jks_pass=Pof5tqSwkQJI
idp3WebappFolder=/opt/shibboleth-idp/webapp
countryCode=en
ip={{ server_ip }}
opendj_ldap_binddn=cn\=directory manager
installSaml=True
fido2ConfigFolder=/etc/gluu/conf/fido2
sysemProfile=/etc/profile
ldap_setup_properties=/install/community-edition-setup/templates/opendj-setup.properties
default_openid_jks_dn_name=CN\=oxAuth CA Certificates
oxtrust_config_json=/install/community-edition-setup/output/oxtrust-config.json
openldapTLSCACert=/etc/certs/openldap.pem
listenAllInterfaces=False
ldapDsCreateRcCommand=/opt/opendj/bin/create-rc-script
ldapPassFn=/home/ldap/.pw
oxTrustRemovedFolder=/var/ox/identity/removed
passport_rs_client_jks_fn=/etc/certs/passport-rs.jks
openldapSlapdConf=/install/community-edition-setup/output/slapd.conf
encoded_ldapTrustStorePass=FxyzAIPezw2pdJxsd66BOg\=\=
encode_salt=EagWShLKiyByj4T2ondyyGrD
gluu_python_readme=/opt/gluu/python/libs/python.txt
extensionFolder=/install/community-edition-setup/static/extension
passportSpTLSCert=/etc/certs/passport-sp.crt
hostname={{ server_hostname }}
jetty_base=/opt/gluu/jetty
ldif_scripts_casa=/install/community-edition-setup/output/scripts_casa.ldif
cmd_chmod=/bin/chmod
inumOrg=@!A90B.17D9.F64B.1CA2!0001!4972.0545
openldapJksPass=tXrcZi7yfruQ
asimba_conf_folder=/etc/gluu/conf/asimba
allowDeprecatedApplications=False
ldapSetupCommand=/opt/opendj/setup
opendj_service_centos7=/install/community-edition-setup/static/opendj/systemd/opendj.service
encoded_ox_ldap_pw=F6Jksbd8cps\=
passportSpJksFn=/etc/certs/passport-sp.jks
openldapSetupAccessLog=False
cmd_rpm=/bin/rpm
idp3LibFolder=/opt/shibboleth-idp/lib
cmd_keytool=/opt/jre/bin/keytool
ldap_binddn=cn\=directory manager
installHttpd=True
passport_rs_client_id=@!A90B.17D9.F64B.1CA2!0001!4972.0545!0008!7685.7D95
scim_rp_client_id=@!A90B.17D9.F64B.1CA2!0001!4972.0545!0008!F832.EB32
asimba_war=http\://ox.gluu.org/maven/org/asimba/asimba-wa/3.1.6.sp1/asimba-wa-3.1.6.sp1.war
gluuBaseFolder=/etc/gluu
install_time_ldap=20190607131921Z
apache_version=2.4
configFolder=/etc/gluu/conf
openldapBinFolder=/opt/symas/bin
oxauth_war=https\://ox.gluu.org/maven/org/xdi/oxauth-server/3.1.6.sp1/oxauth-server-3.1.6.sp1.war
jre_home=/opt/jre
scim_resource_oxid=7f3c1492-f593-4568-af6e-5d6e1ca11390
ldap_type=opendj
ldap_hostname=localhost
openldapJksFn=/etc/certs/openldap.jks
gluuOptPythonFolder=/opt/gluu/python
openldapMetricUser=cn\=directory manager,o\=metric
encode_script=/opt/gluu/bin/encode.py
shibJksPass=FuWwP4ezIxmr
oxasimba_config_json=/install/community-edition-setup/output/oxasimba-config.json
cmd_chown=/bin/chown
opendj_init_file=/install/community-edition-setup/static/opendj/opendj
scim_rs_client_jks_fn=/etc/certs/scim-rs.jks
etc_hosts=/etc/hosts
idp3_cml_keygenerator=http\://ox.gluu.org/maven/org/xdi/oxShibbolethKeyGenerator/3.1.6.sp1/oxShibbolethKeyGenerator-3.1.6.sp1.jar
asimba_properties=/install/community-edition-setup/output/asimba.properties
gluuOptFolder=/opt/gluu
installPassport=True
openldapRootSchemaFolder=/opt/gluu/schema
rsyslogUbuntuInitFile=/install/community-edition-setup/static/system/ubuntu/rsyslog
idp_client_id=@!A90B.17D9.F64B.1CA2!0001!4972.0545!0008!3C4D.E9B0
oxauth_openid_jwks_fn=/etc/certs/oxauth-keys.json
ldif_configuration=/install/community-edition-setup/output/configuration.ldif
etc_hostname=/etc/hostname
installOxAuthRP=True
